<div id="heading"><h1>Kill or get Killed </h1></div>

<div id="body">
    <div id="player1">
        <h1>Player 1</h1>
        <h3 >Choose your avatar</h3>
        <div id="avatar">
       <a href="#player2" (click)="select11()"><img src="{{avatar1}}"  alt=""></a> 
       <a href="#player2" (click)="select12()"><img src="{{avatar2}}"  alt=""></a> 
       <a href="#player2" (click)="select13()"><img src="{{avatar3}}"  alt=""></a> 
       <a href="#player2" (click)="select14()"><img src="{{avatar4}}"  alt=""></a> 
      
         </div>
    </div>
    <div id="player2">
            <h1>Player 2</h1>
            <h3 >Choose your avatar</h3>
            <div id="avatar">
                    <a href="#player2" (click)="select21()"><img src="{{avatar1}}"  alt=""></a> 
                    <a href="#player2" (click)="select22()"><img src="{{avatar2}}"  alt=""></a> 
                    <a href="#player2" (click)="select23()"><img src="{{avatar3}}"  alt=""></a> 
                    <a href="#player2" (click)="select24()"><img src="{{avatar4}}"  alt=""></a> 
            </div>
    </div>
</div>

<div id="selected">
    <h2>Player 1    <br>      <img id="p1img" src="{{selected1}}" alt="">
    </h2>
    <div class="select2"> 
         <h2>Player 2 <br> <img id="p2img" src="{{selected2}}" alt=""></h2>
        </div>  
        <button type="button" href="#table" (click)="start()" class="btn btn-light">Fight</button>

</div>
<!-- Table  -->
<div id="table">
<table >

    <tr id="row1"><td id="11"></td>
    <td id="12" ></td>
    <td id="13"></td>
    <td id="14"></td>
    <td id="15"></td>
    <td id="16"></td>
    <td id="17"></td>
    <td id="18"></td></tr>

    <tr id="row2"><td id="21"></td>
        <td id="22" ></td>
        <td id="23"></td>
        <td id="24"></td>
        <td id="25"></td>
        <td id="26"></td>
        <td id="27"></td>
        <td id="28"></td></tr>

        <tr id="row3"><td id="31"></td>
            <td id="32" ></td>
            <td id="33"></td>
            <td id="34"></td>
            <td id="35"></td>
            <td id="36"></td>
            <td id="37"></td>
            <td id="38"></td></tr>

            <tr id="row4"><td id="41"></td>
                <td id="42" ></td>
                <td id="43"></td>
                <td id="44"></td>
                <td id="45"></td>
                <td id="46"></td>
                <td id="47"></td>
                <td id="48"></td></tr>

                <tr id="row5"><td id="51"></td>
                    <td id="52" ></td>
                    <td id="53"></td>
                    <td id="54"></td>
                    <td id="55"></td>
                    <td id="56"></td>
                    <td id="57"></td>
                    <td id="58"></td></tr>

                    <tr id="row6"><td id="61"></td>
                        <td id="62" ></td>
                        <td id="63"></td>
                        <td id="64"></td>
                        <td id="65"></td>
                        <td id="66"></td>
                        <td id="67"></td>
                        <td id="68"></td></tr>

                        <tr id="row7"><td id="71"></td>
                            <td id="72" ></td>
                            <td id="73"></td>
                            <td id="74"></td>
                            <td id="75"></td>
                            <td id="76"></td>
                            <td id="77"></td>
                            <td id="78"></td></tr>

                            <tr id="row8"><td id="81"></td>
                                <td id="82" ></td>
                                <td id="83"></td>
                                <td id="84"></td>
                                <td id="85"></td>
                                <td id="86"></td>
                                <td id="87"></td>
                                <td id="88"></td></tr>

</table>
</div>